---
---
.current {
  color: green;
}

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "header_top header_top header_top header_top" "content_middle content_middle content_middle content_middle" "footer_bottom footer_bottom footer_bottom footer_bottom";
  width:auto;
  
}

.header_top {
	/*grid-area: header_top;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: 
  "first_headline first_headline first_headline" 
  "second_headline second_headline second_headline" 
  "third_headline third_headline third_headline";
  grid-area: header_top;
  text-align:center;
  background: #41D3BD;
}

.first_headline { 
  grid-area: first_headline;
   background:#56d8c4;
}

.second_headline { 
  grid-area: second_headline;
   background:##6addcb;
}

.third_headline { 
  grid-area: third_headline;
   background:##7fe1d3;
}


.content_middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: 
  "sparvana_mechanics sparvana_mechanics sparvana_mechanics" 
  "how_it_works how_it_works how_it_works" 
  "mailing_list mailing_list mailing_list";
   grid-area: content_middle;
   background: #407899;
}

.sparvana_mechanics { 
  grid-area: sparvana_mechanics;
   background:#4886ab;
}

.how_it_works { 
  grid-area: how_it_works;
   background:#5493b8;
}

.mailing_list { grid-area: mailing_list;
   background:#669ebf;
}

.footer_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "pricing_plan pricing_plan pricing_plan" "social_media social_media social_media" "footer footer footer";
  grid-area: footer_bottom;
  background: #694D75;
}

.pricing_plan { grid-area: pricing_plan;
background:#775784;}

.social_media { grid-area: social_media;
background:#856194;}

.footer { grid-area: footer;
background:#916fa0;}

div.title {
	background-color: rgba(100, 177,177, 0.9);
	color:white;
	font-family:restoraextralight-1;
	font-size:46px;
}
 


