---
---
.current {
  color: green;
}

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "header_top header_top header_top header_top" "content_middle content_middle content_middle content_middle" "footer_bottom footer_bottom footer_bottom footer_bottom";
  width:auto;
  
}

.header_top { 
	grid-area: header_top;
	background-image: url('/assets/images/large_1.png');
	background-repeat: no-repeat;
	text-align:center;
	height:550px;
	max-width:100%;	
}

.content_middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "mailing_list mailing_list mailing_list" "how_it_works how_it_works how_it_works";
  grid-area: content_middle;
}

.mailing_list { grid-area: mailing_list; }

.how_it_works { grid-area: how_it_works; }

.footer_bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "pricing_plan pricing_plan pricing_plan" "social_media social_media social_media" "footer footer footer";
  grid-area: footer_bottom;
}

.pricing_plan { grid-area: pricing_plan; }

.social_media { grid-area: social_media; }

.footer { grid-area: footer; }

div.title {
	background-color: rgba(100, 177,177, 0.9);
	color:white;
	width:auto;
	height:auto; text-align:center;
	font-family:restoraextralight-1;
	font-size:46px;
}

div.main_headline {
	/*border: 1px solid green;*/
	/*float:right;            */
	padding-top:50px;
	padding-left: 700px;
	color:rgba(100,177,177,0.7);
	width: 550px;
	height:auto; 
	text-align:right;
	font-family: Helvetica, sans-serif;
	font-size:5vw;
	font-weight: bold;
}

div.sec_headline {
	/*border: 1px solid green;*/
	/*float:right;            */

	padding-left: 700px;
	color:rgba(100,177,177,0.7);
	width: 550px;
	height:auto; 
	text-align:right;
	font-family: Helvetica, sans-serif;
	font-size:1.5vw;
	
}


