---
---
.current {
  color: green;
}

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container { 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "header_top header_top header_top header_top" "content_middle content_middle content_middle content_middle" "footer_bottom footer_bottom footer_bottom footer_bottom";
  width:auto;
  
}

.header_top {
	/*grid-area: header_top;*/ 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto auto auto auto auto auto auto auto;
  gap: 1px 1px;
  grid-template-areas: 
  "title" 
  "first_headline"
  "first_headline_text"  
  "second_headline"
  "second_headline_text"  
  "third_headline"
  "third_headline_text"
  "fourth_headline"
  "fourth_headline_text";
  grid-area: header_top;
  text-align:center;
  background: #fffaf0;
}

.title {
	grid-area: title;
	background-color: rgba(245, 245, 245, 0.7);
	color:#1f7d59;
	font-family:restoraextralight-1;
	font-size:46px;
	line-height: 60px;
	text-align:left;
	position:sticky;
	top:0;

}

.first_headline { 
	padding-top: 150px;
	grid-area: first_headline;
	font-family:restoraextralight-1;
	font-size:46px;
	color:#1f7d59;	
}

.first_headline_text {
	padding-top: 25px;
	grid-area: first_headline_text;
	font-family:Arial, Helvetica, sans-serif;
	font-size:23px;
}

.second_headline {
	padding-top: 150px; 
	grid-area: second_headline;
	font-family:restoraextralight-1;
	font-size:46px;
	color:#1f7d59;	
}

.second_headline_text { 
	padding-top: 25px;
	grid-area: second_headline_text;
	font-family:Arial, Helvetica, sans-serif;
	font-size:23px;
}

.third_headline {
	padding-top: 150px;
	grid-area: third_headline;
	font-family:restoraextralight-1;
	font-size:46px;
	color:#1f7d59;	
}

.third_headline_text {
	padding-top: 25px; 
	grid-area: third_headline_text;
	font-family:Arial, Helvetica, sans-serif;
	font-size:23px;
}

.fourth_headline { 
	padding-top: 150px;
	grid-area: fourth_headline;
	font-family:restoraextralight-1;
	font-size:46px;
	color:#1f7d59;	
}

.fourth_headline_text {
	padding-top: 25px; 
	grid-area: fourth_headline_text;
	font-family:Arial, Helvetica, sans-serif;
	font-size:23px;
}


.content_middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.7fr;
  gap: 1px 1px;
  grid-template-areas:  
  "sparmaus sparhase sparfuchs sparvana" 
  "mailing_list mailing_list mailing_list mailing_list";
   grid-area: content_middle;
   background: #407899;
  padding-top: 15px;  
}

.sparmaus {
  grid-area: sparmaus;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
    padding: 5px;
}

.sparhase {
  grid-area: sparhase;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
    padding: 5px;
}

.sparfuchs {
  grid-area: sparfuchs;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
    padding: 5px;
}

.sparvana {
  grid-area: sparvana;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 5px;
}

div.header {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 20px;
}

div.container {
  padding: 5px;
  height: 25;
}

.mailing_list { 
  grid-area: mailing_list;
  background:#669ebf;
  text-align: center;
}


.footer_bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 1px 1px;
  grid-template-areas: 
    "pricing_plan" 
    "social_media" 
    "footer";
  grid-area: footer_bottom;
  background: #694D75;
}

.pricing_plan { grid-area: pricing_plan;
background:#775784;}

.social_media { grid-area: social_media;
background:#856194;}

.footer { grid-area: footer;
background:#916fa0;}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}






 


