<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>

    {{ content }}
  </body>
</html>

<script type="text/javascript">
window.onload = function(){
	document.MyForm.reset()
	document.getElementById('send').onclick = function(e){

		//alert(document.getElementById("name").value);
		db.collection("email_subs").add({email: document.getElementById("name").value})
       
	   return false;
   }
}
</script>